body{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, li, p{
  margin: 0;
  padding: 0;
}

h2{
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}
a {
  text-decoration: none;
  color: inherit;
}

section, footer{
  padding-top: 100px;
}

article{ 
  padding-bottom: 70px;
}

article a{
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

header .container{
  border-bottom: 1px solid #828282;
}

.header__menu {
  letter-spacing: 0.02em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__menu-ul {
  gap: 40px;
}

.header__menu-ul :not(:first-child){
  color: #828282;
}

.hero {
  padding-top: 12px;
}

.hero__title {
  text-align: left;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 50px;
}

.hero__image {
  display: flex;
  overflow: hidden;
}

.hero__img {
  width: 100%;
  object-fit: cover;
}

.about {
  background-color: #F6F6F6;
  padding-bottom: 70px;
}

.about__title {
  margin-bottom: 50px;
}
.about__description{
  margin-bottom: 30px;
}

.skills {
  padding-bottom: 100px;
}

.skills__title {
  margin-bottom: 20px;
}

.skills__description {
  margin-bottom: 50px;
}

.skills__ul {
  gap: 97px;
}

.skills__li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 230px;
  width: 170px;
}

.skills__li-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}

.skills__li-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;
}

.star-icon{
  height: 26px;
  width: 27px;
}

.skills__li-rate {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.portfolio {
  background-color: #F6F6F6;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__page-img {
  margin-bottom: 40px;
}

.contacts {
  padding-bottom: 100px;
}

.footer__block {
  text-align: center;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__btn {
  width: 180px;
  height: 44px;  
  background: #070707;
  border-radius: 22px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 30px;
}

.contacts__list {
  gap: 50px;
}

.contacts__img {
  width: 40px;
  height: 40px;
}

.footer__block+.footer__block{
  margin-top: 60px;
}
.contact__like{
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}