.sidebar {
    transition: all 1.5s;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4F4F4F;
    padding: 30px 0 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    position:sticky;
    top: 0;
    height: 1033px; 

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 220px;
      margin: 0 0 40px 0;
      padding: 0 15px;
    }

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-icon {
        height: 32px;
        width: 32px;
      }

      &-name {
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #392C72;
        margin-left: 7px;
      }
    }

    &__arrow {
      cursor: pointer;
      transition: all 0.5S;
    }

    &__elem {
      width: 220px;
      height: 46px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      padding: 10px 0 10px 15px;
      transition: all 0.5S;
      position: relative;

      &:hover {
        color: #fff;
        background-color: #9E8CFC;
        box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
      }

      .item__icon {
        display: block;
        height: 26px;
        width: 26px;
        position: relative;
      }

    }

    %pop {
      position: absolute;
      top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat Regular';
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #4F4F4F;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .elem-pop-email:after {
      @extend %pop;
      background-color: #6FCF97;
      content: '10';
      left: 35px;
    }

    .elem-pop-charts:after {
      @extend %pop;
      background-color: #EA5455;
      color: #fff;
      content: '5';
      left: 35px;
    }

    .elem-pop-calendar:after {
      @extend %pop;
      background-color: #F2C94C;
      content: '7';
      left: 35px;
    }

    &__list {
      .list__item {
        margin-top: 30px;
      }

      .item__title {
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #828282;
        margin-bottom: 5px;
        padding-left: 15px;
      }

    }
  }

  .light {
    transition: all 1.5s;

    .elem-pop-email:after,
    .elem-pop-charts:after,
    .elem-pop-calendar:after {
      left: 50px;
    }

    .sidebar__header {
      width: 86px;
      position: relative;
    }
    .sidebar__logo-icon{
      margin:auto;
    }
    .sidebar__arrow {
      position: absolute;
      right: -10px;
      top: 6px;
      transform: rotate(180deg);
    }

    .sidebar__elem {
      width: 86px;
      padding: 0;
    }

    %line {
      display: block;
      content: ' ';
      font-size: 0;
      height: 4px;
      border-radius: 35%;
      background-color: #9E8CFC;
    }

    .item__title {
      @extend %line;
      width: 14px;
      border-radius: 35%;
      position: relative;
      margin: 0 auto 15px;

      &:before {
        @extend %line;
        border-radius: 35%;
        position: absolute;
        top: 0;
        left: -14px;
        width: 9px;
      }

      &:after {
        @extend %line;
        width: 9px;
        border-radius: 35%;
        position: absolute;
        top: 0;
        left: 19px;
      }

    }

    .item__name {
      display: none;
    }

    .sidebar__logo-name {
      display: none;
    }

    .item__icon {
      margin: auto;
    }
  }