@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('../../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto-Regular.woff') format('woff'),
        url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Delius Unicase';
    src: local('Delius Unicase '),
        url('../../fonts/DeliusUnicase-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}