.container {
  max-width: 1170px;
  margin: 121px auto 0;
}

.header {
  max-width: 450px;
  padding-bottom: 40px;
  margin: 0 auto 40px;
  position: relative;
}
.header__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #898F8F;
  margin: 0 auto 15px;
}
.header__title {
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: #FFCC00;
  margin: 0 auto;
}
.header .header__right-line, .header .header__left-line {
  display: block;
  width: 210px;
  height: 1px;
  content: " ";
  background-color: #FFCC00;
  position: absolute;
  bottom: 5px;
}
.header__left-line {
  right: 50%;
  transform: translateX(-15px);
}
.header__right-line {
  left: 50%;
  transform: translateX(15px);
}
.header__img {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1030px;
  height: 560px;
}
.slider .card .card-left {
  width: 50%;
  border-right: 1px solid #FFCC00;
  padding-top: 80px;
  padding-bottom: 75px;
  padding-right: 85px;
}
.slider .card .card-left__photo {
  width: 400px;
  height: 400px;
  border: 1px solid #FFCC00;
  position: relative;
}
.slider .card .card-left__photo .photo__img {
  width: 100%;
}
.slider .card .card-left__photo .angle4, .slider .card .card-left__photo .angle3, .slider .card .card-left__photo .angle2, .slider .card .card-left__photo .angle1 {
  display: block;
  width: 100px;
  height: 100px;
  content: "";
  border-top: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
  background-color: transparent;
  position: absolute;
}
.slider .card .card-left__photo .angle1 {
  top: -15px;
  left: -15px;
}
.slider .card .card-left__photo .angle2 {
  transform: rotate(90deg);
  top: -15px;
  right: -15px;
}
.slider .card .card-left__photo .angle3 {
  transform: rotate(-90deg);
  bottom: -15px;
  left: -15px;
}
.slider .card .card-left__photo .angle4 {
  transform: rotate(180deg);
  bottom: -15px;
  right: -15px;
}
.slider .card .card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 75px;
  padding-left: 85px;
}
.slider .card .card-right__name {
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #666;
}
.slider .card .card-right__line {
  width: 100px;
  height: 1px;
  background-color: #FFCC00;
  margin: 0 auto;
}
.slider .card .card-right__prof {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #666;
}
.slider .card .card-right__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 0 auto 49px;
}
.slider .card .card-right .social__link {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding: 0;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  transition: all 0.7S;
}
.slider .card .card-right .social__link:hover:before {
  color: #FFCC00;
}
.slider .card .card-right .social__link:hover {
  background-color: #666;
}
.slider .card .card-right__desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #333;
  max-width: 430px;
}
.slider .card .card-right .slider__pagination {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 0 auto 25px;
  cursor: pointer;
}
.slider .card .card-right .bigger-ln, .slider .card .card-right .pagination__ln {
  display: block;
  height: 4px;
  background: #FFCC00;
}
.slider .card .card-right .pagination__ln {
  width: 10px;
}
.slider .card .card-right .bigger-ln {
  width: 20px;
}
.slider .card .card-right__btn {
  font-family: "Open Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  width: 118px;
  height: 24px;
  border: 1px solid #FFCC00;
  background-color: #fff;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.8S;
}
.slider .card .card-right__btn:hover {
  background-color: #666;
  color: #FFCC00;
}

@media (max-width: 1062px) {
  .slider .card {
    flex-direction: column;
    align-items: center;
  }
  .slider .card .card-left {
    width: 100%;
    border-right: none;
    padding: 50px 0 50px 0;
  }
  .slider .card .card-left .card-left__photo {
    margin: 0 auto;
  }
  .slider .card .card-right {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 420px) {
  .slider .card .card-left__photo {
    width: 200px;
    height: 200px;
  }
}